[Unit]
Description=Hyprland mouse sensitivity modifier
Documentation=https://github.com/cbrenton/hyprland-mouse-sensitivity
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/hyprland-mouse-sensitivity
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
